/.envrc.local
/.direnv
/treefmt.toml
/.gcroots
workbench
result*
*.cert
*.txbody
*.txsigned
*.proposal
*.vote
*.action
state-*
*.out
*.pid
*.socket
*.cbor
*.mnemonic
*.vkey
*.skey
*.addr
*.plutus
*.hash
.pre-commit-config.yaml
dist-newstyle/
/doc/read-the-docs-site/_build/
/testnet/example
/testnet/logs
